@media screen and (min-width: 320px) and (max-width: 1599px){     }
body{
    margin: 0;
    width: 100%;
    background: url(img/фон.jpg)

}
.fon{
    width: 100%;
    height: 100%;
}
.header{
    visibility: hidden;
}
h1{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
.par{
    color: white;
    margin-left: auto;
    margin-right: auto;

}
.header{
    background: white;
    width: 100%;
    height: 50%;
    display: inline-flex;
}
.text h2{
    color: black;
    display: inline-flex;
    text-align: right;
    padding: 20px;
    padding-top: 0px;
}
.text h2:hover{
    border: 2px solid grey;
}
.header p{
    margin: 30px;
    color: black;
}
.par p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
    transform: scale(1.5);
    transition: 1s;
}
.img1{
    width: 200px;
    height: 200px;
    float: left;
    margin: 7px 7px 7px 0;
}
.gif1{
    width: 816px;
    background: url(video/trenie.gif);
    height: 459px;
    float: left;

}
.gift1 p{
    font-size: 19px;
    width: 816px;
    padding: 0;
    display: inline;
}
.gif{
   
   font-size: 20px;
}
.example{
    text-align: left;
    margin-top: 30px;
}
.gif3{
    width: 816px;
    background: url(video/trenie2.gif);
    height: 459px;
    float: left;

}
.gif2 p{
    font-size: 19px;
    height: 90px;
    margin-top: 20px;
    display: inline;
}
.gif2{
   display: flexbox;
   font-size: 20px;
   width: 816px;
}
.gift2{
    width: 816px;
}
.gif5{
    width: 206px;
    background: url(img/trenie3.jpg);
    height: 283px;
    float: left;

}
.gift3 p{
    font-size: 19px;
    height: 90px;
    margin-top: 20px;
    display: inline;
}
.gif4{
   display: flexbox;
   font-size: 20px;
   width: 816px;
}
.gift3{
    width: 816px;
}
.boarder{
    height: 2px;
    width: 816px;
    background: black;
    margin: 6px;
    display: flex;
    text-decoration: none;
}
.btest{
    display: flex;
    text-decoration: none;
    padding-top: 20px;
}
button{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    text-decoration: none;
}
.perehod{
    display: flex;
    font-size: 20px;
}
.img2{
    width: 300px;
    height: 250px;
    float: left;
    margin: 7px 7px 7px 0;
}
.img3{
    width: 300px;
    height: 250px;
    float: right;
    margin: 7px 7px 7px 0;
}